---
keycloak:
  app:
    enabled: true
    namespace: {{ include "jc.namespace" (dict "global" .Values.global "suffix" "keycloak") }}
    subdomain: idm
    pathPrefix: /
    admin:
      forceRecreateSecret: true
      username: admin
      secret:
        name: "keycloak-admin-user"
        passwordKey: "password"
  config:
    enabled: true
    namespace: {{ include "jc.namespace" (dict "global" .Values.global "suffix" "keycloak") }}
    # Outbound e-mail. The realm's smtpServer block and the SMTP_* environment
    # variables are only rendered when this is on; the Secret named here has to
    # exist in the Keycloak namespace with the keys host, port, from, user and
    # password (it is a real mail account, so it is never generated).
    smtp:
      enabled: false
      existingSecret: keycloak-smtp
    # Realm users of the development profile (components/keycloak/demo-users.yaml).
    demoUsers:
      {{- if eq .Values.global.profile "development" }}
      {{- readFile "../../components/keycloak/demo-users.yaml" | fromYaml | toYaml | nindent 6 }}
      {{- else }}
      {}
      {{- end }}
  configUserCreation:
    enabled: true
    namespace: {{ include "jc.namespace" (dict "global" .Values.global "suffix" "keycloak") }}

