---
# Checklist:
# - [x] Minimal Resources
# - [x] Minimal storage
# - [x] 1 Replica

ckan:
  replicaCount: 1
  storage:
    size: 5Gi
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: '2'
      memory: 2Gi

solr:
  storage:
    size: 5Gi
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: '1'
      memory: 1Gi

redis:
  resources:
    requests:
      cpu: 25m
      memory: 32Mi
    limits:
      cpu: 200m
      memory: 128Mi
