---
{{- $global := .Values.global }}
# Checklist:
# - [x] Resources (requests and limits)
# - [x] Larger Storage -> database-backed portal
# - [x] 2+ Replicas or HorizontalPodAutoscaler
# - [x] Rolling updates maxUnavailable: 0, maxSurge: 1 -> default in workload chart
# - [x] PodDisruptionBudget (at least minAvailable: 1)

replicaCount: 2

podDisruptionBudget:
  enabled: true
  minAvailable: 1

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: '2'
    memory: 1Gi
