---
demo-feeds:
  nats:
    enabled: true
    namespace: {{ include "jc.namespace" (dict "global" .Values.global "suffix" "demo-feeds") }}
  feed:
    enabled: true
    namespace: {{ include "jc.namespace" (dict "global" .Values.global "suffix" "demo-feeds") }}
    subject: helsinki.demo.counters
    interval: 10s
